DB__NAME=teamboard
DB__USER=postgres
DB__PASSWORD=postgres
DB__HOST=db
DB__PORT=5432

SECURITY__JWT_SECRET=supersecretkey1
SECURITY__REFRESH_SECRET=supersecretkey1
SECURITY__PASSWORD_RESET_KEY=supersecretkey1
SECURITY__ALGORITHM=HS256
SECURITY__ACCESS_TOKEN_EXPIRE_MINUTES=30
SECURITY__REFRESH_TOKEN_EXPIRE_DAYS=7


LOGGING__LOG_LEVEL=INFO


EMAIL__HOST=smtp.gmail.com
EMAIL__PORT=587

EMAIL__USER=example@gmail.com
EMAIL__PASSWORD=your_app_password
EMAIL__STARTTLS=True
EMAIL__SSL_TLS=False