fastapi
uvicorn[standard]
SQLAlchemy
asyncpg
alembic
python-jose[cryptography]
passlib[argon2]
python-dotenv
psycopg2-binary
pydantic-settings
python-json-logger
uuid6
redis[async]
pydantic[email]
user-agents