body{
    font-family:Arial;
    background:#f4f6fa;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:40px;
    border-radius:10px;
    width:320px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    width:100%;
    padding:10px;
    background:#3b82f6;
    color:white;
    border:none;
    cursor:pointer;
}

a{
    display:block;
    margin-top:15px;
    text-align:center;
}